absl-py==1.4.0
access==1.1.9
affine==2.4.0
aiobotocore @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a3od34vmjf/croot/aiobotocore_1682537315667/work
aiofiles @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ar7qj9rcj/croot/aiofiles_1683773588297/work
aiohttp @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44k_ps5jm7/croot/aiohttp_1694181081849/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosqlite @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_13w97vul7u/croot/aiosqlite_1683773912122/work
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
altair==5.1.2
anaconda-anon-usage @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_f7k02pe9nu/croot/anaconda-anon-usage_1694468550717/work
anaconda-client @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_62r593g_27/croot/anaconda-client_1694625255058/work
anaconda-navigator==2.4.3
anyio @ file:///Users/ec2-user/ci_py311/anyio_1678317412955/work/dist
appdirs==1.4.4
applaunchservices @ file:///Users/ec2-user/ci_py311/applaunchservices_1678390181983/work
appnope @ file:///Users/ec2-user/ci_py311/appnope_1678317440516/work
appscript @ file:///Users/ec2-user/ci_py311/appscript_1678390203562/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///Users/ec2-user/ci_py311/argon2-cffi-bindings_1678317076583/work
arrow @ file:///Users/ec2-user/ci_py311/arrow_1678325845580/work
astroid @ file:///Users/ec2-user/ci_py311/astroid_1678323235198/work
astropy @ file:///Users/ec2-user/ci_py311_2/astropy_1679335070862/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru==2.0.4
async-timeout @ file:///Users/ec2-user/ci_py311/async-timeout_1678320112070/work
atomicwrites==1.4.0
attrs @ file:///Users/ec2-user/ci_py311/attrs_1678315289647/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel @ file:///Users/ec2-user/ci_py311/babel_1678318085010/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt @ file:///Users/ec2-user/ci_py311/bcrypt_1678325873219/work
beautifulsoup4 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_bczxn9gqkq/croot/beautifulsoup4-split_1681493044307/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black==23.9.1
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.6.3
blosc2==2.0.0
bokeh==3.2.2
boltons @ file:///Users/ec2-user/ci_py311/boltons_1678396074811/work
boto3 @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_7d1tvcne9b/croot/boto3_1693812462374/work
botocore @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b0m03dnl83/croot/botocore_1682530185285/work
Bottleneck @ file:///Users/ec2-user/ci_py311/bottleneck_1678322312632/work
branca @ file:///Users/ec2-user/ci_py311/branca_1678390530707/work
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.7.22
cffi @ file:///Users/ec2-user/ci_py311/cffi_1678315312775/work
chardet @ file:///Users/ec2-user/ci_py311/chardet_1678326102860/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
clikit==0.6.2
cloudpickle @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c57ujq_pgm/croot/cloudpickle_1683040025620/work
clyent==1.2.1
cmdstanpy==1.1.0
colorama @ file:///Users/ec2-user/ci_py311/colorama_1678320227414/work
colorcet @ file:///Users/ec2-user/ci_py311/colorcet_1678380145131/work
comm==0.1.4
conda @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_81tsx0kkoj/croot/conda_1694544082946/work
conda-content-trust @ file:///Users/ec2-user/ci_py311/conda-content-trust_1678409283937/work
conda-package-handling @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_99vcqjo8cf/croot/conda-package-handling_1690999935230/work
conda-repo-cli==1.0.41
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda_package_streaming @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d5wg6eonuu/croot/conda-package-streaming_1690987980119/work
constantly==15.1.0
contourpy @ file:///Users/ec2-user/ci_py311/contourpy_1678322361099/work
convertdate==2.4.0
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
crashtest==0.3.1
cryptography @ file:///Users/ec2-user/ci_py311_2/cryptography_1679335457662/work
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.0.2
cytoolz @ file:///Users/ec2-user/ci_py311/cytoolz_1678326214370/work
daal4py==2023.1.1
dacite==1.8.1
dask==2.30.0
datashader @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_95vuv8tc7k/croot/datashader_1692372254282/work
datashape==0.5.4
debugpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_30hp2nowkm/croot/debugpy_1690905056188/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation==2.1.0
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_95s9ca6wqy/croot/dill_1692271239138/work
distributed @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_95i88jlqtp/croot/distributed_1686866052419/work
docstring-to-markdown @ file:///Users/ec2-user/ci_py311/docstring-to-markdown_1678326320721/work
docutils @ file:///Users/ec2-user/ci_py311/docutils_1678316143314/work
emoji==2.8.0
entrypoints @ file:///Users/ec2-user/ci_py311/entrypoints_1678316169365/work
ephem==4.1.4
esda==2.4.3
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///Users/ec2-user/ci_py311_2/python-fastjsonschema_1679338737111/work
filelock @ file:///Users/ec2-user/ci_py311/filelock_1678318171955/work
findspark==2.0.1
Fiona @ file:///Users/ec2-user/ci_py311/fiona_1678411551268/work
flake8 @ file:///Users/ec2-user/ci_py311/flake8_1678326404511/work
Flask==1.1.4
Flask-Cors==3.0.10
flatbuffers==23.5.26
folium @ file:///Users/ec2-user/ci_py311/folium_1678411947747/work
fonttools==4.25.0
fqdn==1.5.1
frozenlist @ file:///Users/ec2-user/ci_py311/frozenlist_1678318685088/work
fsspec @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_daw1qq7n6u/croot/fsspec_1682526931173/work
future @ file:///Users/ec2-user/ci_py311_2/future_1679335881731/work
gast==0.4.0
GDAL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7bpu2_kz5n/croot/gdal-split_1691162695819/work/build/swig/python
gensim @ file:///Users/ec2-user/ci_py311/gensim_1678412014794/work
geopandas==0.13.2
giddy==2.3.4
gitdb==4.0.10
githubpy==2.0.0
GitPython==3.1.37
gmpy2 @ file:///Users/ec2-user/ci_py311/gmpy2_1678380831980/work
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet @ file:///Users/ec2-user/ci_py311/greenlet_1678323340336/work
grpcio==1.57.0
h11==0.14.0
h5py @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a4au6npi7q/croot/h5py_1691589712522/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
helium==3.2.5
holidays==0.32
holoviews==1.14.9
htmlmin @ file:///tmp/build/80754af9/htmlmin_1605825795554/work
httpstan==4.10.0
hvplot==0.7.3
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///Users/ec2-user/ci_py311/idna_1678315819133/work
imagecodecs @ file:///Users/ec2-user/ci_py311_2/imagecodecs_1679336141260/work
ImageHash @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_792fg64u7j/croot/imagehash_1679418692273/work
imageio @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_47v6nbs3l9/croot/imageio_1687264946242/work
imagesize @ file:///Users/ec2-user/ci_py311/imagesize_1678377399148/work
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_81_20mq0d8/croot/importlib-metadata_1678997090664/work
importlib-resources==6.0.1
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
inequality==1.0.0
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///Users/ec2-user/ci_py311_2/intake_1679336302724/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_03247w06su/croot/ipykernel_1691121639959/work
ipython @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_05skbxaflp/croot/ipython_1694181365614/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.1.0
isoduration==20.11.0
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
itsdangerous==1.1.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///Users/ec2-user/ci_py311_2/jedi_1679336327335/work
jellyfish @ file:///Users/ec2-user/ci_py311/jellyfish_1678392216202/work
Jinja2==3.1.2
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib==1.1.1
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpath-ng==1.6.0
jsonpointer==2.4
jsonschema @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f9p98o1kqf/croot/jsonschema_1678983430226/work
jupyter @ file:///Users/ec2-user/ci_py311/jupyter_1678377791770/work
jupyter-console @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e8qcp1kdie/croot/jupyter_console_1679999714867/work
jupyter-events @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f0yqwpn5u1/croot/jupyter_events_1684268046871/work
jupyter-lsp==2.2.0
jupyter-ydoc @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_79b9hk1z3q/croot/jupyter_ydoc_1683747244664/work
jupyter_client @ file:///Users/ec2-user/ci_py311/jupyter_client_1678316948346/work
jupyter_core @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b82fz_h369/croot/jupyter_core_1679906581737/work
jupyter_server==2.7.0
jupyter_server_fileid @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b0lffopjbp/croot/jupyter_server_fileid_1684273621123/work
jupyter_server_terminals==0.4.4
jupyter_server_ydoc @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6848h2a_93/croot/jupyter_server_ydoc_1686768718335/work
jupyterlab==4.0.4
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kaleido @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_8bv7w__cki/croot/python-kaleido_1689925315719/work
keras==2.14.0
keyring @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2ds0bchnl2/croot/keyring_1678999223818/work
kiwisolver @ file:///Users/ec2-user/ci_py311/kiwisolver_1678322457192/work
lazy-object-proxy @ file:///Users/ec2-user/ci_py311/lazy-object-proxy_1678322504286/work
lazy_loader @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_02apt1h75k/croot/lazy_loader_1687264081288/work
levenshtein==0.12.0
libclang==16.0.6
libpysal==4.7.0
linkify-it-py @ file:///Users/ec2-user/ci_py311/linkify-it-py_1678413480728/work
llvmlite==0.41.0
lmdb @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_88zbo0vn66/croot/python-lmdb_1682522360781/work
locket @ file:///Users/ec2-user/ci_py311/locket_1678322541585/work
LunarCalendar==0.0.9
lxml @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cccmd60j4n/croot/lxml_1679646460589/work
lz4 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7fl2lzb5wh/croot/lz4_1686057901919/work
mapclassify==2.6.0
Markdown @ file:///Users/ec2-user/ci_py311/markdown_1678377870854/work
markdown-it-py @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_43xjt6hz0x/croot/markdown-it-py_1684279911135/work
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib @ file:///Users/ec2-user/ci_py311/matplotlib-suite_1678323613900/work
matplotlib-inline @ file:///Users/ec2-user/ci_py311/matplotlib-inline_1678317544666/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///Users/ec2-user/ci_py311/mdit-py-plugins_1678417716573/work
mdurl @ file:///Users/ec2-user/ci_py311/mdurl_1678381820326/work
Metaphone==0.6
mgwr==2.1.2
missingno==0.5.2
mistune @ file:///Users/ec2-user/ci_py311/mistune_1678317272228/work
ml-dtypes==0.2.0
momepy==0.6.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mpmath @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_8fyoqwupl2/croot/mpmath_1690848275746/work
msgpack @ file:///Users/ec2-user/ci_py311/msgpack-python_1678318264150/work
multidict @ file:///Users/ec2-user/ci_py311/multidict_1678318765630/work
multimethod @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b8iznkvcd/croot/multimethod_1687530397616/work
multipledispatch @ file:///Users/ec2-user/ci_py311/multipledispatch_1678392901644/work
munch @ file:///Users/ktietz/demo/mc3/conda-bld/munch_1630566382504/work
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.1.0
navigator-updater==0.4.0
nbclassic @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e9be4uk5qu/croot/nbclassic_1681756175065/work
nbclient @ file:///Users/ec2-user/ci_py311/nbclient_1678317300721/work
nbconvert==6.4.5
nbformat==5.4.0
ndindex==1.7
nest-asyncio @ file:///Users/ec2-user/ci_py311/nest-asyncio_1678316288195/work
networkx @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_666p3uavvu/croot/networkx_1690562005807/work
nltk==3.6.3
notebook==7.0.4
notebook_shim @ file:///Users/ec2-user/ci_py311/notebook-shim_1678318293647/work
numba==0.58.0
numexpr @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b50c1js9s/croot/numexpr_1683227065029/work
numpy @ file:///Users/ec2-user/ci_py311/numpy_and_numpy_base_1678321341477/work
numpydoc @ file:///Users/ec2-user/ci_py311/numpydoc_1678393034712/work
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
overrides==7.4.0
packaging @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_2algm5p9lp/croot/packaging_1693575178038/work
pandas==1.5.3
pandas-bokeh==0.5.5
pandas-dq==1.28
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel==1.2.3
param @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_eb_xu6rgzh/croot/param_1684915322419/work
parsel @ file:///Users/ec2-user/ci_py311/parsel_1678382184303/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_eb38x0gc6u/croot/partd_1693937900739/work
pastel==0.2.1
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///Users/ec2-user/ci_py311_2/pathspec_1679337122817/work
patsy==0.5.3
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phik @ file:///Users/ec2-user/ci_py311/phik_1678393338282/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_640usff2p5/croot/platformdirs_1692205656061/work
plotly @ file:///Users/ec2-user/ci_py311/plotly_1678382250051/work
pluggy @ file:///Users/ec2-user/ci_py311/pluggy_1678315400971/work
ply==3.11
pointpats==2.3.0
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
probableparsing==0.0.1
prometheus-client @ file:///Users/ec2-user/ci_py311_2/prometheus_client_1679340232148/work
prompt-toolkit @ file:///Users/ec2-user/ci_py311/prompt-toolkit_1678317707969/work
prophet==1.1.4
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==4.21.12
psutil @ file:///Users/ec2-user/ci_py311_2/psutil_1679337242143/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
PuLP==2.7.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///Users/ktietz/demo/mc3/conda-bld/py-cpuinfo_1629480366017/work
py4j==0.10.9.7
pyamg==5.0.1
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///Users/ec2-user/ci_py311/pycodestyle_1678324331308/work
pycosat @ file:///Users/ec2-user/ci_py311/pycosat_1678378899646/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///Users/ec2-user/ci_py311/pyct_1678378955854/work
pycurl==7.45.2
pydantic @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_35o4y5fj35/croot/pydantic_1686125728261/work
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle @ file:///Users/ec2-user/ci_py311/pydocstyle_1678378981125/work
pyerfa @ file:///Users/ec2-user/ci_py311/pyerfa_1678379006730/work
pyflakes @ file:///Users/ec2-user/ci_py311/pyflakes_1678324357242/work
Pygments @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cflayrfqsi/croot/pygments_1684279981084/work
PyJWT @ file:///Users/ec2-user/ci_py311/pyjwt_1678379090382/work
pylev==1.4.0
pylint @ file:///Users/ec2-user/ci_py311/pylint_1678379112162/work
pylint-venv @ file:///Users/ec2-user/ci_py311/pylint-venv_1678393629931/work
pyls-spyder==0.4.0
PyMeeus==0.5.12
PyMySQL==1.1.0
pyobjc-core @ file:///Users/ec2-user/ci_py311/pyobjc-core_1678375734970/work
pyobjc-framework-Cocoa @ file:///Users/ec2-user/ci_py311/pyobjc-framework-cocoa_1678375905004/work
pyobjc-framework-CoreServices @ file:///Users/ec2-user/ci_py311/pyobjc-framework-coreservices_1678383123980/work
pyobjc-framework-FSEvents @ file:///Users/ec2-user/ci_py311/pyobjc-framework-fsevents_1678379139559/work
pyodbc @ file:///Users/ec2-user/ci_py311/pyodbc_1678420730897/work
pyOpenSSL @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_7fwdg30481/croot/pyopenssl_1690223429070/work
pyparsing @ file:///Users/ec2-user/ci_py311/pyparsing_1678322828710/work
pyproj==3.6.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent @ file:///Users/ec2-user/ci_py311/pyrsistent_1678316053523/work
pysal==23.7
pysimdjson==5.0.2
PySocks @ file:///Users/ec2-user/ci_py311/pysocks_1678315868424/work
pyspark==3.5.0
pystan==3.7.0
pytest @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7089yk6bfu/croot/pytest_1690474697638/work
python-crfsuite==0.9.9
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-json-logger @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_49p5x2bjzn/croot/python-json-logger_1683823814668/work
python-lsp-black @ file:///Users/ec2-user/ci_py311/python-lsp-black_1678393907972/work
python-lsp-jsonrpc==1.0.0
python-lsp-server @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1fkjjx0yhx/croot/python-lsp-server_1681930400163/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///Users/ec2-user/ci_py311/python-snappy_1678388765172/work
python-stdnum==1.19
pytoolconfig @ file:///Users/ec2-user/ci_py311/pytoolconfig_1678324412360/work
pytz @ file:///Users/ec2-user/ci_py311/pytz_1678318034461/work
pyviz-comms @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_13yvjs0iia/croot/pyviz_comms_1685030724461/work
PyWavelets @ file:///Users/ec2-user/ci_py311/pywavelets_1678379192795/work
PyYAML @ file:///Users/ec2-user/ci_py311/pyyaml_1678324445670/work
pyzmq==24.0.1
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///Users/ec2-user/ci_py311/qstylizer_1678393978214/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///Users/ec2-user/ci_py311/qtawesome_1678393953815/work
qtconsole @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_dexq2hi2gu/croot/qtconsole_1681394223590/work
QtPy @ file:///Users/ec2-user/ci_py311/qtpy_1678322936834/work
quantecon==0.7.1
queuelib==1.5.0
rasterio==1.3.8
rasterstats==0.19.0
regex==2020.11.13
requests @ file:///Users/ec2-user/ci_py311_2/requests_1679337454610/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-mock==1.11.0
requests-oauthlib==1.3.1
requests-toolbelt @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_d4z1wb6cpk/croot/requests-toolbelt_1690874009769/work
rfc3339-validator @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_07a1ken4gz/croot/rfc3339-validator_1683077050666/work
rfc3986-validator @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6dzvsqx89i/croot/rfc3986-validator_1683059150431/work
rich==13.6.0
rope @ file:///Users/ec2-user/ci_py311/rope_1678379265159/work
rsa==4.9
Rtree @ file:///Users/ec2-user/ci_py311/rtree_1678394103092/work
ruamel.yaml @ file:///Users/ec2-user/ci_py311/ruamel.yaml_1678379291841/work
s3fs @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f7stwtummt/croot/s3fs_1682551483204/work
s3transfer @ file:///Users/ec2-user/ci_py311/s3transfer_1678324574832/work
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
scikeras==0.12.0
scikit-image @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_3fh5dyitqb/croot/scikit-image_1682530834592/work
scikit-learn @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c1cbgsrq20/croot/scikit-learn_1690978919468/work
scikit-learn-intelex==20230426.61323
scipy==1.9.3
Scrapy @ file:///Users/ec2-user/ci_py311/scrapy_1678422467931/work
seaborn @ file:///Users/ec2-user/ci_py311/seaborn_1678394152964/work
segregation==2.4.2
selenium==4.11.2
Send2Trash==1.8.2
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
shapely @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_73st2w3xix/croot/shapely_1680636308240/work
simplejson==3.19.1
sip @ file:///Users/ec2-user/ci_py311/sip_1678318421743/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///Users/ec2-user/ci_py311/smart_open_1678389689993/work
smmap==5.0.1
sniffio @ file:///Users/ec2-user/ci_py311/sniffio_1678317345022/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
snuggs==1.4.7
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a42j8ggi70/croot/soupsieve_1680518482618/work
spaghetti==1.7.4
spglm==1.0.8
Sphinx @ file:///Users/ec2-user/ci_py311/sphinx_1678389735529/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
spint==1.0.7
splot==1.1.5.post1
spopt==0.5.0
spreg==1.3.2
spvcm==0.3.0
spyder @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b93e0at0ak/croot/spyder_1681934083239/work
spyder-kernels @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_88d8aoyzh1/croot/spyder-kernels_1691599547665/work
SQLAlchemy @ file:///Users/ec2-user/ci_py311/sqlalchemy_1678379321154/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///Users/ec2-user/ci_py311/statsmodels_1678394299954/work
streamlit==1.27.2
sympy @ file:///Users/ec2-user/ci_py311_2/sympy_1679338337660/work
tables @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_db4hksk56p/croot/pytables_1691621493468/work
tabulate @ file:///Users/ec2-user/ci_py311/tabulate_1678423547338/work
tangled-up-in-unicode @ file:///Users/ec2-user/ci_py311/tangled-up-in-unicode_1678389813839/work
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cct5tq4h70/croot/tenacity_1682972283326/work
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
terminado @ file:///Users/ec2-user/ci_py311/terminado_1678317735543/work
testpath==0.6.0
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textblob==0.17.1
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss2 @ file:///Users/ec2-user/ci_py311/tinycss2_1678317366076/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tobler==0.10.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomlkit @ file:///Users/ec2-user/ci_py311/tomlkit_1678317388739/work
toolz @ file:///Users/ec2-user/ci_py311/toolz_1678323009669/work
torch @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_9d63z49rj_/croot/pytorch_1681837279022/work
tornado @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_aeotsmw12l/croot/tornado_1690848274212/work
tqdm @ file:///Users/ec2-user/ci_py311_2/tqdm_1679338418772/work
traitlets @ file:///Users/ec2-user/ci_py311/traitlets_1678316097905/work
transformers @ file:///tmp/build/80754af9/transformers_1633098115425/work
trio==0.22.2
trio-websocket==0.10.3
Twisted @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_3cf4rqmb9n/croot/twisted_1683796897214/work
typeguard @ file:///Users/ec2-user/ci_py311/typeguard_1678394807704/work
typing_extensions==4.5.0
tzlocal==5.1
uc-micro-py @ file:///Users/ec2-user/ci_py311/uc-micro-py_1678394873457/work
ujson @ file:///Users/ec2-user/ci_py311/ujson_1678325349324/work
undetected-chromedriver==3.5.1
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
uri-template==1.3.0
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1968zekhce/croot/urllib3_1686163172153/work
usaddress==0.5.10
validators==0.22.0
varname==0.8.3
visions==0.7.5
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
watchdog @ file:///Users/ec2-user/ci_py311/watchdog_1678395046770/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webargs==8.3.0
webcolors==1.13
webdriver-manager==4.0.0
webencodings==0.5.1
websocket-client @ file:///Users/ec2-user/ci_py311/websocket-client_1678317758506/work
websockets==11.0.3
Werkzeug==1.0.1
wget==3.2
whatthepatch @ file:///Users/ec2-user/ci_py311/whatthepatch_1678379478749/work
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt @ file:///Users/ec2-user/ci_py311/wrapt_1678323111850/work
wsproto==1.2.0
wurlitzer @ file:///Users/ec2-user/ci_py311/wurlitzer_1678390004531/work
xarray @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ba3w2rvoxd/croot/xarray_1689041477488/work
xgboost==2.0.0
xlrd==2.0.1
xlwings @ file:///Users/ec2-user/ci_py311_2/xlwings_1679338568565/work
xyzservices==2023.7.0
y-py @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7dvnlnkj12/croot/y-py_1683555629284/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl @ file:///Users/ec2-user/ci_py311/yarl_1678323149735/work
ydata-profiling==4.5.1
ypy-websocket @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_75t89iv95n/croot/ypy-websocket_1684171758794/work
zict @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_59schmcson/croot/zict_1682698747213/work
zipp @ file:///Users/ec2-user/ci_py311/zipp_1678318061389/work
zope.interface @ file:///Users/ec2-user/ci_py311/zope.interface_1678379536727/work
zstandard @ file:///Users/ec2-user/ci_py311_2/zstandard_1679338593428/work
